menu "ASPEED SoC drivers"

config ASPEED_BMC_MISC
	bool "Miscellaneous ASPEED BMC interfaces"
	depends on ARCH_ASPEED || COMPILE_TEST
	default ARCH_ASPEED
	help
	  Say yes to expose VGA and LPC scratch registers, and other
	  miscellaneous control interfaces specific to the ASPEED BMC SoCs

config ASPEED_XDMA
	tristate "Aspeed XDMA Engine Driver"
	depends on (ARCH_ASPEED || COMPILE_TEST) && REGMAP && MFD_SYSCON && HAS_DMA
	help
	  Enable support for the Aspeed XDMA Engine found on the Aspeed AST2500
	  SOC. The XDMA engine can perform automatic PCI DMA operations between
	  the AST2500 (acting as a BMC) and a host processor.

endmenu
